{
  "presets": [
    "next/babel",
    "latest",
    "react",
    "stage-0"
  ],
  "plugins": [
    [
      "transform-assets",
      {
        "extensions": ["txt", "svg", "png"],
        "name": "/static/[name].[ext]?[sha512:hash:base64:7]"
      }
    ],
    "transform-runtime",
    "styled-jsx/babel"
  ]
}
