{
  "env": {
    "development": {
      "presets": ["next/babel", "latest", "react", "stage-0"],
      "plugins": ["transform-runtime", "styled-jsx/babel"]
    },
    "production": {
      "presets": ["next/babel", "latest", "react", "stage-0"],
      "plugins": ["transform-runtime", "styled-jsx/babel"]
    },
    "test": {
      "presets": [["env", { "modules": "commonjs" }], "next/babel"]
    }
  }
}
