# node modules
node_modules

# log files
npm-debug.log
*.log
logs
.DS_Store
tags.lock
Session.vim
tags.temp
yarn-error.log

# build file
.next

# config
config/development.json
config/production.json

# database
database
